@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: light) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

html{
  scroll-behavior: smooth;
}

body {

}
::-webkit-scrollbar {
  width: 0.375rem;
}

::-webkit-scrollbar-track {
  --tw-bg-opacity: 1;
  background-color: rgb(232 232 233 / var(--tw-bg-opacity));
  width: 0.75rem;
}

::-webkit-scrollbar-thumb {
  --tw-bg-opacity: 1;
  background-color: rgb(169 169 173 / var(--tw-bg-opacity));
  border-radius: 0.375rem;
  border-width: 0;
  margin-right: 0.25rem;
}
